body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#left {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

#right {
  width: 40%;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}

.location {
  border: 1px solid #cecece;
  padding: 0px 20px 0px 20px;
  border-radius: 8px;
}

#cardDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: auto;
  row-gap: 20px;
  margin-top: 30px;
  height: 570px;
  overflow: scroll;
  padding-left: 30px;
}

#cardDiv::-webkit-scrollbar {
  display: none;
}
